/* Container Class */
/* .container{
    background-color: rgb(10, 10, 104);
    color: aliceblue;
    height: 30px;
}
.container-fluid{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 30px;
} */

/* Grid System */
/* .container{
    border: 2px solid blue ;
}
.row{
    border: 2px solid red;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-4{
    border: 1px solid black;
    background-color: lightblue;
} */

/* color class */

/* Border Class */
/* .box1{
    height: 150px;
    width: 200px;
    background-color: black;
} */

/* Margin & Padding */
/* div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
}
span{
    background-color: hotpink;
    font-size: 30px;
}
.box{
    background-color: yellow;
    border: 2px solid black;
    width: auto;
    height: auto;
} */

/* Text Class */

/* Width & Height */
/* .container-fluid{
    height: 500px;
} */

/* Position class */
/* .div1{
    height: 100px;
    width: 100px;
    background-color: red;
    left: 100px;
}
.div2{
    height: 75px;
    width: 75px;
    background-color: black;
    top: 50px;
}
.div3{
    height: 50px;
    width: 50px;
    background-color: green;
} */

/* Button */

/* Alerts */

/* Badges */

/* Collapse */

/* Cards */

/* Icons */














